article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    width: 80%;
    max-width:1190px;
    margin: 0 auto;
}
.quiz-start-page {
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(to bottom right, #02b3e4, #02ccba);
    padding: 50px 0 80px 0;
}
.quiz-start-page h1 {
    font-size: 70px;
    text-shadow: 4px 3px 0px #fbf7f7;
}
.quiz-start-page p {
    font-size:20px;
}

.start {
    margin-top: 50px;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    transition: all 0.3s ease;
    letter-spacing: 4px;
}
.start:hover {
    color: white;
    background: black;
    border: 1px solid black;
}
.quiz-start-page, .container {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: 7px;

}
.container {
    /* padding: 100px 0; */
    margin-top: 100px;
    /* height: 500px; */
    /* position: relative; 
    top: 100px; */
    background: #fff;
    /* margin-bottom:100px; */
}

.title {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #bee2be;
    text-transform: uppercase;
    color: #08038C;
}

.question {
    padding: 20px;
    font-size: 25px;   
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #000000;
}

.option {
    width: 48%;
    display: inline-block;
    padding: 10px 0 10px 15px;
    background: #e2e2e2;
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
    margin-bottom: 20px;
}

.option:hover {
    background: #08038C;
    color: #f6f6f6;
}

.next-btn {
    border: none;
    outline: none;
    background: #02ccba;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 14px;

}
.button-container {
    text-align: center;
    padding: 40px 0 60px 0;
}

.next-btn:hover {
    background: #08038C;
}

.result {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to bottom right, #02b3e4, #02ccba);    padding: 100px 0;

}

.option input:checked .option {
    background: #08038C;
    color: #000;
}

footer {
    margin-top:100px;
    text-align: center;
}

/* MEDIA QUERIES START HERE */

